<% if (username) { %>
  <form method="POST" action="/logout">
    <%= username %>
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form method="POST" action="/login">
    <input type="text" name="username">
    <input type="submit" value="Login">
  </form>
<% } %>