<% if (user) { %>
  <form method="POST" action="/logout">
    <%= user.email %>
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <div>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>
<% } %>