<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table>
    <tr>
      <td>URL</td>
      <td>Short URL</td>
    </tr>
    <% for (const shortURL in urls) { %>
      <tr>
        <td>
          <%= urls[shortURL] %>
        </td>
        <td>
          <a href= <%= `http://localhost:8080/u/${shortURL}` %>><%= shortURL %></a>
        </td>
      </tr>
      <% } %>
  </table>
  <a href="http://localhost:8080/urls/new">Shorten New URL</a>
</body>

</html>