<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table>
    <tr>
      <td>URL</td>
      <td>Short URL</td>
    </tr>
    <tr>
      <td>
        <%= url %>
      </td>
      <td>
          <a href= <%= `/u/${shortURL}` %>><%= shortURL %></a>
      </td>
    </tr>
  </table>
  <a href="/urls">Back to List</a>
</body>

</html>