<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp | URL Not Found</title>
</head>

<body>
  <% include partials/_header %>
  <p>URL not found!</p>
  <a href="/urls">Back to List</a>
</body>

</html>