<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table>
    <tr>
      <td><%= shortURL %> &rarr; </td>
      <td><a href= <%= `/u/${shortURL}` %>><%= url%></a></td>
    </tr>
  </table>
  <a href="/urls">Back to List</a>
</body>

</html>